<nav class="navbar navbar-light bg-danger">
    <div class="container-fluid">
      <h1 style="color:aliceblue;">Angular CRUD Wassim</h1>
      <div class="d-flex">
        <button (click)="cliclAddEmploye()" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Ajouter un employé </button>
      </div>
    </div>
  
  </nav>
  
  
<table class="table mt-3">
    <thead>
      <tr >
        <th scope="col">ID de l'employée</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Email ID</th>
        <th scope="col">Numéro de téléphone</th>
        <th scope="col">Salaire</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of employeData">
        <td>{{row.id}} </td>
        <td>{{row.prenom}} </td>
        <td>{{row.nom}} </td>
        <td>{{row.email}} </td>
        <td>{{row.telephone}} </td>
        <td>{{row.salaire}} </td>
        <td>
          <button (click)="onEdit(row)" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-warning">Editer</button>
          <button (click)="deleteEmploye(row)" class="btn btn-danger mx-3">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  
  
  


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajoutez les détails de l'employé s'il vous plait</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Prénom</label>
              <input type="text" formControlName="prenom" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Nom</label>
              <input type="text" formControlName="nom" class="form-control" id="exampleInputPassword1">
            </div>
  
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Email</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
            </div>
  
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Numéro de téléphone</label>
              <input type="number" formControlName="telephone" class="form-control" id="exampleInputPassword1">
            </div>
  
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Salaire</label>
              <input type="number" formControlName="salaire" class="form-control" id="exampleInputPassword1">
            </div>
          
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button  type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Ajouter les changements</button>
          <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary">Mettre à jour les changements</button>
        </div>
      </div>
    </div>
</div>